ZOO_LOG_DIR="{{ zookeeper_log_dir }}"
JMXDISABLE=true
ZK_SERVER_HEAP={{ zookeeper_heap_size }}
SERVER_JVMFLAGS="-Djava.security.auth.login.config={{ zookeeper_conf_dir }}/jaas.cfg \
-Dcom.sun.management.jmxremote.ssl=false \
-Djava.rmi.server.hostname={{ zookeeper_jmx_host }} \
-Dcom.sun.management.jmxremote.port={{ zookeeper_jmx_port }} \
-Dcom.sun.management.jmxremote.rmi.port={{ zookeeper_jmx_rmi_port }} \
-Dcom.sun.management.jmxremote.host={{ zookeeper_jmx_host }} \
-Dcom.sun.management.jmxremote.password.file={{ zookeeper_conf_dir }}/jmxremote.password \
-Dcom.sun.management.jmxremote.access.file={{ zookeeper_conf_dir }}/jmxremote.access \
-Dfsync.warningthresholdms={{ zookeeper_fsync_warning_threshold_ms }}"
